@import "colors.css";

/* =========================================================
   全局
   ========================================================= */

* {
    border: none;
    border-radius: 0;

    font-family:
        "JetBrainsMono Nerd Font Propo",
        "LXGW WenKai Screen",
        "JetBrains Maple Mono";

    font-size: 16.6px;
    opacity: 1;
}

window#waybar {
    background: alpha(@background, 0.40);
    color: @on_surface;

    margin: 4px 6px 0 6px;
    border-radius: 1.2em;
}

/* =========================================================
   tooltip
   ========================================================= */

tooltip {
    background: @secondary_container;
    border: 0.17em solid @outline;
    border-radius: 1.2em;
}

tooltip label {
    color: @on_surface;
    font-size: 0.89em;
}

/* =========================================================
   左侧
   ========================================================= */

#workspaces button {
    padding: 0px 0.56em;
    background: alpha(@background, 0.80);
    color: @on_surface;
}

#workspaces button:last-child {
    border-radius: 0 1.2em 1.2em 0;
}

#workspaces button:hover {
    background: alpha(@background, 0.60);
}

#workspaces button.active {
    color: @tertiary;
}

.niri-taskbar {
    background: alpha(@background, 0.50);
    padding: 0 0 0 0.28em;
}

.niri-taskbar button:hover {
    background: alpha(@background, 0.40);
}

.niri-taskbar button.focused {
    background: alpha(@background, 0.30);
}

#window {
    padding: 0px 0.56em;
    background-color: alpha(@background, 0.50);
    border-radius: 0 1.2em 1.2em 0;
}

#window label {
    font-size: 0.89em;
}

/* =========================================================
   中间模块
   ========================================================= */

#bluetooth,
#network,
#custom-wfrec,
#custom-screenshot,
#custom-wallpapers,
#custom-clipboard {
    background-color: alpha(@background, 0.50);
    color: @on_surface;
}

#bluetooth {
    border-radius: 1.2em 0 0 1.2em;
    padding: 0px 0.5em;
    font-size: 1.13em;
}

#network {
    padding: 0px 0.35em;
}

#custom-screenshot {
    padding: 0px 0.35em;
    border-radius: 0 1.2em 1.2em 0;
}

#custom-wfrec.recording {
    color: @error;
}

/* 胶囊2 */

#idle_inhibitor,
#custom-colorpicker,
#power-profiles-daemon,
#custom-applauncher,
#clock {
    background-color: alpha(@background, 0.80);
    color: @on_surface;
}

#idle_inhibitor {
    margin-left: 0.35em;
    border-radius: 1.2em 0 0 1.2em;
    padding: 0px 0.36em;
}

#power-profiles-daemon.performance {
    color: @error;
    font-size: 1.28em;
}

#custom-applauncher {
    font-size: 1.39em;
    padding: 0px 0.39em;
}

#clock {
    padding: 0px 0.45em;
    border-radius: 0 1.2em 1.2em 0;
}

#custom-cava {
    background-color: alpha(@background, 0.50);
    border-radius: 1.2em;
    padding: 0px 0.5em;
    margin-left: 0.35em;
}

/* =========================================================
   右侧波浪
   ========================================================= */

/* 第一层 updates + tray */

#custom-updates {
    border-radius: 1.2em 0 0 1.2em;
    padding: 0px 0.17em 0px 0.39em;
    background-color: alpha(@background, 0.20);
}

#tray {
    padding: 0px 0.6em 0px 0.39em;
    font-size: 1.11em;
    background-color: alpha(@background, 0.20);
}

/* 第二层 */

#ddcutil {
    background-color: alpha(@background, 0.50);
    border-radius: 1.2em 0 0 1.2em;
    margin-left: -0.6em;
}

#privacy,
#audio {
    background-color: alpha(@background, 0.50);
}

/* 第三层 */

#clock.date {
    padding: 0px 0.39em;
    background-color: alpha(@background, 0.70);
    border-radius: 1.2em 0 0 1.2em;
    margin-left: -0.6em;
}

#battery {
    background-color: alpha(@background, 0.70);
}

/* 第四层 */

#powermenu {
    background-color: @background;
    border-radius: 1.2em 0 0 1.2em;
    margin-left: -0.6em;
}

/* =========================================================
   slider
   ========================================================= */

#pulseaudio-slider trough,
#backlight-slider trough {
    min-height: 0.56em;
    min-width: 4.44em;
    border-radius: 0.28em;
}

#pulseaudio-slider highlight,
#backlight-slider highlight {
    border-radius: 0.28em;
    background-color: @tertiary;
}

/* =========================================================
   其他
   ========================================================= */

#custom-swaync {
    background-color: @surface_container_high;
    color: @on_surface_container;
    padding: 0px 0.83em;
}

/* =========================================================
   动画
   ========================================================= */

@keyframes blink {
    to {
        background-color: @primary;
        color: @error;
    }
}